.title-primary {
    font-size: 3rem;
    color: var(--primary-dark);
    letter-spacing: 1px;
    line-height: 5rem;
    font-weight: bold;
  }
  
  .my-1 {
    margin: 1rem;
    padding: 1rem;
  }
  
  .title-secondary {
    font-size: 2rem;
    color: var(--primary);
    letter-spacing: 1px;
  }
  
  .title-spaced {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }
  
  .title-style-1 {
    font-size: 2rem;
    color: var(--primary);
    letter-spacing: 1px;
  }
  
  .title-style-2 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-family: "Overpass", sans-serif;
  }
  
  .title-style-3 {
    font-size: 1.5rem;
    letter-spacing: 4px;
    font-family: "Overpass", sans-serif;
    color: var(--white-1);
  }
  
  .text-center {
    text-align: center;
  }
  
  .p-style-4 {
    font-size: 1rem;
    color: var(--primary);
  }
  
  .font-style-5 {
    font-size: 1.5rem;
    color: #fff;
  }