@keyframes fade-out {
  to {
    opacity: 0;
  }
}
.link-dark {
  text-decoration: none;
  color: var(--primary-dark);
}
.link-dark:visited {
  text-decoration: none;
  color: var(--primary-dark);
}

#scrollUpButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 2rem;
  background-color: var(--primary);
  color: var(--grey-2);
  text-align: center;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.list-group {
  padding: 1rem;
}

.title-primary {
  font-size: 3rem;
  color: var(--primary-dark);
  letter-spacing: 1px;
  line-height: 5rem;
  font-weight: bold;
}

.my-1 {
  margin: 1rem;
  padding: 1rem;
}

.title-secondary {
  font-size: 2rem;
  color: var(--primary);
  letter-spacing: 1px;
}

.title-spaced {
  font-size: 1.5rem;
  letter-spacing: 4px;
}

.title-style-1 {
  font-size: 2rem;
  color: var(--primary);
  letter-spacing: 1px;
}

.title-style-2 {
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-family: "Overpass", sans-serif;
}

.title-style-3 {
  font-size: 1.5rem;
  letter-spacing: 4px;
  font-family: "Overpass", sans-serif;
  color: var(--white-1);
}

.text-center {
  text-align: center;
}

.p-style-4 {
  font-size: 1rem;
  color: var(--primary);
}

.font-style-5 {
  font-size: 1.5rem;
  color: #fff;
}

.no-margin {
  margin: 0;
}

.border-bottom-1 {
  border-bottom: 1px solid var(--grey-2);
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 5px;
}
.btn:hover {
  background-color: var(--primary-dark);
  cursor: pointer;
}

.btn-primary {
  color: var(--white-1);
  background-color: var(--primary);
  font-weight: bold;
}

.navbar .navbar-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image: linear-gradient(-60deg, var(--primary) 80%, var(--white-1));
}
.navbar .navbar-social .navbar-social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0.5rem 4rem;
  margin: 0 1rem;
}
.navbar .navbar-social .navbar-social-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: var(--white-1);
  scale: 1.2;
  padding: 0 0.5rem;
}
.navbar .navbar-social .navbar-social-link svg {
  height: 18px;
  width: 18px;
}
.navbar .navbar-brand {
  font-size: var(--text-medium);
  font-weight: 700;
  color: var(--bg-dark);
}
.navbar .navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.navbar .navbar-list-item {
  border-bottom: 3px solid transparent;
  padding: 1rem 0.4rem;
  margin: 0 1rem;
}
.navbar .navbar-list-item:hover {
  border-bottom: 3px solid var(--primary);
  background-color: rgba(224, 8, 8, 0);
  opacity: 1;
}
.navbar .navbar-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--text-dark);
}

header .menu {
  display: none;
}

.table {
  padding: 1rem;
  margin: 3rem 2rem;
}
.table th {
  text-align: left;
  padding: 1rem;
}
.table td {
  text-align: left;
  padding: 1rem;
}

table {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
table tr:nth-child(2n) {
  background-color: #c1cbcd;
}

th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

tr:not(thead, tr:first-child):hover {
  background-color: #c4c4c4;
  cursor: pointer;
}

.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 4rem;
  margin: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  box-shadow: 0 1px 5px grey;
  width: 30rem;
  height: 30rem;
  background-color: var(--white-1);
}
.card .card-title {
  font-size: 18px;
  margin: 1rem;
}
.card .card-text {
  font-size: 1.3rem;
  padding: 1rem 1rem;
}
.card .card-footer {
  font-size: 0.5rem;
  padding: 1rem 2rem;
  margin: 0.5rem;
  text-align: right;
}

.card-img-top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  height: 14rem;
  background-color: var(--white-1);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

.card-body {
  padding: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
  width: -moz-min-content;
  width: min-content;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-group input {
  padding: 0.5rem;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
  width: 25rem;
}
.form-group label not[type=checkbox] {
  width: 5rem;
}
.form-group textarea {
  min-width: 25rem;
  max-width: 25rem;
  height: 10rem;
}

.form .form-group label {
  padding: 0.5rem;
}
.form .form-group textarea {
  padding: 0.5rem;
  border: 1px solid var(--grey-2);
  border-radius: 5px;
  width: 25rem;
}

.form-check {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.d-none-sm {
  display: block;
}

.d-none-md {
  display: none;
}

.justify-right {
  justify-content: flex-end;
}

.form-container {
  width: 100%;
}

.w-50 {
  width: 50%;
}

body {
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
}

.d-none {
  display: none;
}

.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main article {
  width: 100%;
  padding: 0 2rem;
  opacity: 0;
  transform: translateY(2rem);
  transition: opacity 1s, transform 1s;
  background-color: var(--white-1);
  min-height: 80vh;
}
main article #myVideo {
  position: fixed;
  right: 0;
  top: 0rem;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  z-index: 0;
  animation: fade-out 1s;
}
main .experience-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
main .experience-content div {
  flex-basis: 50%;
}
main .experience-content div section {
  padding: 2rem;
}
main .experience-content div:nth-child(2) {
  background-color: var(--primary);
}
main .experience-content div:nth-child(3n) {
  background-color: var(--primary);
}
main .section-img {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--white-1);
  padding: 5rem 0;
  box-shadow: 0 1px 5px gray;
}
main .section-img .main-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 4rem;
  padding: 0 5rem;
}
main .section-img .main-wrapper .jumbotron {
  width: 50%;
  padding: 1rem 0;
  z-index: 1;
}
main .section-img .main-wrapper .jumbotron .d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
main .section-img .main-wrapper .img-main {
  width: 30rem;
  border-radius: 14px;
  box-shadow: 0 5px 10px #404040;
}
main .section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0;
}
main .section-content:nth-child(2n+1) {
  background-color: #ffffff;
}
main .section-content .content-center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
  flex-direction: column;
}
main .section-content .content-center .content-header {
  text-align: center;
}
main .section-content .content-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
  margin: 2rem;
  gap: 5rem;
}
main .section-content .content-media .media-text {
  display: flex;
  justify-content: center;
}
main .section-content .content-media .media-text p {
  text-align: justify;
}
main .section-content .content-media .media-img {
  text-align: center;
}
main .section-content .content-media .media-img img {
  width: 35rem;
}
main .section-cards {
  padding: 0;
  background-color: var(--bg-cards);
}
main #ciudades {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.mostrar {
  opacity: 1;
  transform: translateY(0);
}

main .section-img .main-wrapper .jumbotron p {
  font-size: var(--text-medium);
  font-weight: bold;
  margin-bottom: 3rem;
}

.anim-fade-out {
  animation: fade-out 1s forwards;
}

.content-center-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4rem;
  flex-direction: column;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 50vh;
  background-color: var(--bg-footer);
  color: var(--color-footer);
}
footer article {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 4rem;
  flex-wrap: wrap;
  width: 100%;
}
footer article section {
  padding: 1rem 0;
  width: 10rem;
}
footer article section h5 {
  font-size: 1rem;
  margin: 0;
}
footer article section ul li {
  list-style-type: none;
  font-size: small;
  line-height: 2rem;
}
footer article sectionul {
  padding: 0;
}
footer .footer-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;
  width: 100%;
}
footer a {
  text-decoration: none;
  color: var(--white-1);
}
footer a:visited {
  text-decoration: none;
  color: var(--white-1);
}

@media (max-width: 1500px) and (min-width: 1200px) {
  main .card-group {
    padding: 0 1rem;
  }
}
@media (max-width: 1200px) and (min-width: 970px) {
  #scrollUpButton {
    display: none;
  }
  main .card-group {
    padding: 0 1rem;
  }
  main .section-content .content-media {
    flex-direction: column;
  }
}
@media (max-width: 970px) and (min-width: 750px) {
  main .section-img .main-wrapper {
    padding: 0 4rem;
    margin: 0;
    padding: 0 2rem;
  }
  main .section-img .main-wrapper .jumbotron {
    width: 100%;
    width: 100%;
  }
  main .section-img .main-wrapper .jumbotron .d-flex {
    justify-content: center;
  }
  main section {
    padding: 0;
  }
  main .card-group {
    padding: 0 1rem;
  }
  main .section-content .content-media {
    flex-direction: column;
  }
  main .section-content .content-media .media-text {
    width: 100%;
  }
  main #ciudades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }
  header .expand {
    display: none;
  }
  header .menu {
    display: block;
  }
  #scrollUpButton {
    display: none;
  }
  footer .footer-social {
    flex-direction: column;
  }
  footer .footer-social div:first-child {
    display: none;
  }
}
@media (max-width: 750px) {
  #myVideo {
    width: unset;
  }
  nav .container-fluid {
    display: none;
  }
  .navbar .navbar-social .navbar-social-container {
    padding: 0.5rem 0rem;
  }
  .card-group {
    padding: 0rem;
  }
  main .section-img .main-wrapper {
    margin: 0;
    padding: 0 4rem;
  }
  main .section-img .main-wrapper .jumbotron {
    width: 100%;
  }
  main .card-group .card {
    width: 100%;
  }
  main .section-content .content-media {
    margin: 0;
    padding: 0;
  }
  main .section-content .content-media .media-text {
    width: 100%;
    margin: 0 0rem;
  }
  main .section-content .content-center {
    margin: 0;
    padding: 0;
  }
  main .section-content .content-center-main {
    margin: 0;
    padding: 0;
  }
  .media-img {
    display: none;
  }
  .form-group input {
    width: 80vw;
  }
  .form-group textarea {
    min-width: unset;
    max-width: unset;
    height: unset;
  }
  .d-none-sm {
    display: none;
  }
  .d-none-md {
    display: block;
  }
  .form .form-group input {
    width: auto;
    min-width: 75vw;
  }
  .form .form-group textarea {
    width: auto;
    min-width: 75vw;
  }
  footer article section {
    width: 15rem;
  }
  footer article section h5 {
    text-align: center;
  }
  footer .footer-social {
    flex-direction: column;
  }
  footer .footer-social div:first-child {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */