:root {
  --primary: #33b6b4;
  --primary-dark: #237c7b;
  --white-1: #fff;
  --black-1: #171717;
  --bg-cards: #b9e4ed;
  --bg-card-img: grey;
  --bg-dark: #171717;
  --bg-footer: #fbfbfb;
  --color-footer: #757575;
  --grey-2: #e0e0e0;
  --text-dark: #171717;
  --text-small: 1rem;
  --text-medium: 1.5rem;
}